#root {
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: left;
  color: rgb(77, 44, 44);
  background-color: rgb(255, 255, 255);
}

a {
  color: rgb(77, 44, 44);
}

a:hover {
  color: rgb(77, 192, 227);
}

header, footer {
  background-color: rgb(252, 250, 241);
  width: calc(100vw - 4rem);
  display: flex;
  flex-direction: row;
}

footer {
  gap: .5rem;
  place-content: center;
  position: fixed;
  bottom: 0;
}

main {
  padding: 3rem 2rem 2rem;
  background-color: white;
}
header {
  justify-content: space-between;
  padding: 2rem 2rem 1rem;
}

footer {
  padding: 2rem 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-self: flex-end;
  justify-content: flex-end;
}

.nav-link.active {
  color: rgb(77, 192, 227);
}

.header-title {
  font-size: 1.5rem;
}

.nav-item {
  margin: 0 1rem;
}

.nav-item > a {
  font-weight: normal;
}
section {
  width: 80vw;
  margin: 0 auto;
}

/* about page */
#about-section {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  place-content: center;
}

#about-img {
  max-width: 20%;
  height: auto;
  border-radius: 16px;
}

#about-text {
  margin: 2rem 4rem;
}

/* portfolio page */
#portfolio-section {
  max-width: 800px;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: stretch;
  gap: 2rem 1rem;
}

.project-card {
  width: 60%;
  border: 1px solid rgb(225, 214, 214);
  /* background-color:rgb(239, 239, 237); */
  border-radius: 8px;
  padding: 1.5rem 2rem;
}

.project-title {
  margin: 0;
}

.project-description {
  margin: 0;
}

.project-links {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.btn-primary, .btn-secondary {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5em 0.8em;
  font-size: 0.9em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn-primary {
  background-color: rgb(148, 109, 109);
  color: white;
}

/* .live-btn:hover {
  background-color: rgb(77, 192, 227);
  color: white;
} */

.btn-secondary {
  /* border: 1px solid rgb(225, 214, 214); */
  color: rgb(148, 109, 109);
}

.live-btn:hover, .github-btn:hover, button:hover {
  background-color: rgb(77, 192, 227);
  color: white;
}

/* contact page */
#contact-section {
  max-width: 500px;
  margin: 0 auto;
}

h2, h3 {
  font-weight: 500;
}

#contact-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0.7em;
}

label {
  font-weight: 500;
}

input, textarea {
  padding: 0.5rem;
  border: 0.5px solid rgb(174, 174, 174);
  border-radius: 4px;
}

textarea {
  resize: none;
  font-family: Inter, Helvetica, sans-serif;
  height: 4rem;
}

#contact-form button {
  align-self: flex-end;
  margin: 1rem;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  font-style: italic;
  margin-left: .5rem;
}

/* resume page */

#resume-section {
  max-width: 400px;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.resume-btn {
  align-self: flex-start;
}

.skills-list h3 {
  margin-top: 0;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
}