#root {
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: left;
  color: rgb(77, 44, 44);
  background-color: rgb(252, 250, 241);
}

a {
  color: rgb(77, 44, 44);
}

a:hover {
  color: rgb(77, 192, 227);
}

header, footer {
  background-color: rgb(252, 250, 241);
  width: calc(100vw - 4rem);
  display: flex;
  flex-direction: row;
}

main {
  padding: 3rem 2rem 2rem;
  background-color: white;
}
header {
  justify-content: space-between;
  padding: 2rem 2rem 1rem;
}

footer {
  padding: 1rem 2rem 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-self: flex-end;
  justify-content: flex-end;
}

.nav-link.active {
  color: rgb(77, 192, 227);
}

.header-title {
  font-size: 1.5rem;
}

.nav-item {
  margin: 0 1rem;
}

.nav-item > a {
  font-weight: normal;
}
section {
  width: 80vw;
  margin: 0 auto;
}

#about-section {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  place-content: center;
}

#about-img {
  max-width: 20%;
  height: auto;
  border-radius: 16px;
}

#about-text {
  margin: 2rem 4rem;
}